apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: email-assistant-backend-hpa
  namespace: default
  labels:
    app: email-backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: email-assistant-backend
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
